.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}
.pointer {
  cursor: pointer;
}
.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-start {
  justify-content: flex-start;
}
.flex-end {
  justify-content: flex-end;
}
.flex-spbt {
  justify-content: space-between;
}
.flex-spar {
  justify-content: space-around;
}
.flex-align-start {
  align-items: flex-start;
}
.flex-align-end {
  align-items: flex-end;
}
.flex-wrap {
  flex-wrap: wrap;
}